#message-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 5px;
  border-radius: 5px;
  color: white;
  background: rgb(66, 66, 66);
  display: inline-block;
}
#message-wrap * {
  margin: auto 8px;
}
#message-wrap :nth-child(2) {
  font-size: 10px;
}
.selected {
  background: rgb(213, 241, 225);
}
