.outer-wrapper {
  height: 90vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.login-form-wrapper {
  border-radius: 10px;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  color: black;
  display: grid;
  justify-content: center;
}

.h1 {
  margin: 0 auto;
  text-align: center;
}
.login-form {
  width: 90%;
  margin: 20px auto;
}
.login-form-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* margin: 10px auto; */
  /* justify-content: space-between; */
}
.login-form-item label {
  justify-self: flex-start;
}
.login-button-wrapper {
  text-align: right;
}
button {
  background: lightblue;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.sign-up button {
  background: rgba(7, 194, 85, 0.788);
}
